.contacts {
  margin-top: 100px;

  a {
    color: #000;
  }

  &__top {
    margin-bottom: 100px;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: -1.2px;
    color: #000;
  }

  &__left form {
    width: 560px;
    display: flex;
    flex-direction: column;
    gap: 35px;

    div {
      position: relative;

      p {
        position: absolute;
        bottom: -17px;
        font-size: 14px;
        left: 35px;
        color: #f42c37;
      }

      input {
        border: 0;
        outline: 0;
        width: 100%;
        background: #efefef;
        border-radius: 50px;
        padding: 20px 0 20px 35px;
        font-weight: 500;
        color: #000;
        font-size: 16px;

        &::placeholder {
          color: #3d3d3d;
        }
      }

      textarea {
        border: 0;
        outline: 0;
        resize: none;
        background: #efefef;
        width: 100%;
        border-radius: 20px;
        padding: 20px 0 20px 35px;
        font-weight: 500;
        font-size: 16px;
        color: #000;

        &::placeholder {
          color: #3d3d3d;
        }
      }
    }

    button {
      background: #f42c37;
      border-radius: 25px;
      padding: 15px 70px;
      margin-left: auto;
      font-size: 16px;
      font-weight: 400;
      text-transform: capitalize;
      letter-spacing: -0.48px;
      line-height: 19px;
      color: #fff;
      transition: all 0.4s ease;

      &:hover {
        background: #000;
      }
    }
  }

  &__right {
    width: 700px;
    height: 630px;

    iframe {
      border: 0px;
      border-radius: 20px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__card {
    display: flex;
    align-items: center;
    gap: 20px;

    &__img {
      svg {
        color: rgb(244, 44, 55);
        font-size: 43px;
      }
    }

    &__text {
      line-height: 25px;
      letter-spacing: 0.48px;

      span {
        font-weight: 700;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .contacts__left form {
    width: 460px;
  }
}

@media only screen and (max-width: 1000px) {
  .contacts__left form {
    width: 360px;
  }

  .contacts__top {
    flex-direction: column;
  }
}

@media only screen and (max-width: 760px) {
  .contacts {
    padding-top: 0;

    &__top {
      align-items: stretch;
    }

    &__left form {
      width: 100%;
    }

    &__right {
      width: 100%;
      height: 300px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .contacts {
    &__title {
      font-size: 30px;
    }

    &__card {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      &__text {
        line-height: 25px;
        letter-spacing: 0.48px;
        text-align: center;

        span {
          font-weight: 700;
        }
      }
    }
  }
}
