.cloth {
  padding-top: 50px;

  &__container {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  &__title {
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -1.7px;
  }

  &__description {
    line-height: 23px;
    color: #0009;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

.new {
  &__card {
    max-width: 400px;
    cursor: pointer;

    &__img {
      width: 400px;
      height: 238px;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: auto;
        border-radius: 20px;
        transition: all 0.3s linear;

        &:hover {
          box-shadow: 1px 1px 20px #000;
        }
      }
    }

    &__date {
      display: flex;
      gap: 10px;
      color: #888;
      align-items: center;
      margin-bottom: 20px;

      span {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #888;
      }
    }

    &__name {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -1px;
      color: #000;
      margin-bottom: 20px;
    }

    &__description {
      line-height: 23px;
      max-width: 369px;
      color: #888;
    }
  }
}

@media only screen and (max-width: 510px) {
  .new {
    &__card {
      max-width: 90%;
      // margin-bottom: 20px;
      width: 90%;
      margin: 0 auto 20px;

      &__img {
        width: 100%;
        height: auto;
        img {
          width: 100%;
          height: auto;
          border-radius: 20px;
        }
      }

      &__date {
        gap: 5px;
        margin-bottom: 5px;
        font-size: 14px;
      }

      &__name {
        font-size: 17px;
        margin-bottom: 10px;
      }

      &__description {
        font-size: 14px;
        line-height: 15px;
        max-width: 369px;
      }
    }
  }
}
