.intro2 {
  margin-top: 150px;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    max-width: 1300px;
    height: 400px;
    justify-content: space-between;
    margin: 50px auto;
    border-radius: 20px;
    padding: 0 50px;

    @media (max-width: 1500px) {
      width: 80%;
    }

    @media (max-width: 500px) {
      width: 90%;
    }
  }

  &__btn {
    padding: 11px 37px;
    background-color: #fff;
    text-shadow: 0px 0px 10px rgba(244, 44, 55, 0);
    text-transform: capitalize;
    border-radius: 20px;
    font-weight: 700;
    font-size: 15px;
    color: #000 !important;
    color: inherit;
  }

  &__title {
    font-size: 5rem;
    width: 100%;
    font-weight: 900;
    color: #fff;
  }

  &__text {
    font-size: 1.5rem;
    color: #fff;
  }

  &__img {
    width: 600px;
    height: 600px;
  }

  &__subtitle {
    font-weight: 700;
    color: #fff;
    font-size: 1.5rem;
    width: 100%;
  }

  &__subtext {
    color: #fff;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin: 20px 0;
    font-size: 1rem;
    width: 100%;
  }

  &__right {
    max-width: 400px;
  }
}

#intro2 {
  background: #494973;
  background: linear-gradient(90deg, #494973, #5d7599);
}

#intro3 {
  background: #3a3a7a;
  background: linear-gradient(90deg, #3a3a7a, #63376c);
}

#intro4 {
  background: #21474e;
  background: linear-gradient(90deg, #21474e, #207945);
}

@media (max-width: 1400px) {
  .intro2 {
    &__container {
      height: 300px;
    }
    &__title {
      font-size: 3rem;
    }
    &__text {
      font-size: 1rem;
    }

    &__img {
      width: 400px;
      height: 400px;
    }

    &__subtitle {
      font-size: 1rem;
    }

    &__subtext {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 1000px) {
  .intro2 {
    margin-bottom: 200px;

    &__container {
      flex-direction: column;
      height: auto;
      padding-bottom: 20px;
      align-items: center;
      justify-content: center;
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &__img {
      width: 500px;
      order: 2;
    }

    &__subtitle {
      font-size: 1rem;
    }

    &__subtext {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 600px) {
  .intro2 {
    margin-bottom: 0;

    &__img {
      width: 250px;
      height: 200px;
    }
  }
}
